@charset 'UTF-8';
@import 'mixins';

/*** MIXINS USAGE ***

	@include font-face("fontName", "../fonts/fontPath/fontName", normal); 

	@include xs(12);
	@include sm(12);
	@include md(12);
	@include lg(12);

	@include r(768);
	@include rmin(768);

	@include trans / trans($what $dur $easing);
	@include cover;

	@include centerX / centerXa
	@include centerY / centerYa

	@include overlay($opacity)
***/

.icon {
	display: inline-block;
	width: 2em;
	height: 2em;
	font-size: 30px;
}

html,
body {
	height: 100%;
}

body {
	background: #e3eae8;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.group {
	position: relative;
	background: #fff;
	height: 60px;
	border-radius: 10px;
	box-shadow: 0 22px 24px -28px rgba(0, 0, 0, .2);

	&.focus {
		border: 2px solid #0071FE;

		label {
			opacity: 0;
		}
	}

	&.active {
		input {
			top: 17px;

			&:focus {
				& + label {
					opacity: 1;
				}
			}
		}

		label {
			top: 13px;
			font-size: 12px;
			color: #7D838D;
			opacity: 1;
		}
	}

	&.wrong {
		animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
		border-color: #fe2946;

		label {
			color: #fe2946;
		}

		.alert {
			transform: perspective(999px) rotateX(0deg) rotateY(0) rotateZ(0deg);
			opacity: 1;
		}
	}

	&.success {
		border-color: #33D353;

		label {
			color: #33D353;
		}
		
		.sc {
			transform: perspective(999px) rotateX(0deg) rotateY(0) rotateZ(0deg);
			opacity: 1;

			&::after {
				width: 0;
			}
		}
	}
}


label {
	position: absolute;
	top: 21px;
	left: 20px;
	color: #353a44;
	transition: all .2s ease-in-out;
}

.letter {
	width: 20px;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

input {	
	color: #353a44;	
	height: 30px;
	width: 260px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 19px;
	transition: all .2s ease-in-out;
	border: 2px solid transparent;
	font-weight: 700;
	position: relative;
	top: 15px;
	border-radius: 10px;

	&:focus {
		outline: none;
	}	
}

.alert {
	position: absolute;
	height: 64px;
    width: 64px;
	right: -2px;
	top: -2px;
	transform: perspective(999px) rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
	transform-origin: right center 0px;
	transition: all .3s ease-in-out;
	border-radius: 9px;
	background: url('../alert.svg') no-repeat center #FE2946;
	background-size: 20px;
	opacity: 0;
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}


.sc {
	height: 64px;
	width: 64px;
	position: absolute;
	right: -2px;
	top: -2px;
	transform: perspective(999px) rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
	transform-origin: right center 0px;
	transition: all .3s ease-in-out;
	border-radius: 9px;
	background: url('../success.svg') no-repeat center #33D353;
	background-size: 50px;
	opacity: 0;

	&::after {
		content: '';
		position: absolute;
		right: 10px;
		top: 0;
		width: 26px;
		height: 100%;
		background: #33D353;
		transition: all .4s ease-in-out;
		transition-delay: 200ms;
	}
}

.email {
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	color: #737983;
}